@import url('https://fonts.googleapis.com/css?family=Krub');

body {
  margin: 0px;
  font-family: 'Krub', sans-serif;
  font-size: 16px;
  line-height: 3.8em;
}

article {
  padding:0 1em;
}

section{
  margin: 1em;
  padding: 1em;
}

header, main, footer {
  margin: 0 auto;
}

header {
  color: #fff;
  text-align: center;
  background-position: left;
  background-image: url('img/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem;
}

header section {
  margin: 0 auto;
  max-width: 650px;
}

.headerMyPhoto {
  background-image: url('img/avatar.jpg');
  max-width: 150px;
  height: 150px;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-size: 109%;
  background-repeat: no-repeat;
}

h1 {
  margin: 1em auto;
}

main {
  max-width: 1140px;
}

.course {
}

.course .title {
}

.course .descrition {
}

.school span {
  color: #A7B8BF;
}

footer {
 padding: 1em;
}
